$white: #fff;
$light-white: #eee;
$dark-white: #f3f3f3;
$light-dark: #e9e9e9;
$grey: #c4c4c4;
$dark-grey: #3D3D3D;
$black: #000;
$turquoise: #30d5c8;
$dark-turquoise: #29b6aa;
$navy:#290C66;
$light-pink: #F4538A;
$dark-pink: #D14575;
$bgc-nav-color: #ff0f61;